<div style="width: 100vw; height: 100vh; display: flex;
        flex-direction: column; justify-content: center;
        align-items: center;">

    <div style="width: 100vw; height: 100vh; display: flex;
        flex-direction: column; justify-content: center;
        align-items: center; gap: 10px;">

        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput [formControl]="name">
            <p>{{ name.value }}</p>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput [formControl]="email">
            <p>{{ email.value }}</p>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Telefone</mat-label>
            <input matInput [formControl]="phoneNumber">
            <p>{{ phoneNumber.value }}</p>
        </mat-form-field>

        <button mat-button color="primary" (click)="sendValues()">Enviar</button>

    </div>

</div>